body {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.character {
    position: absolute;
    display: flex;
    flex-direction: row; /* Mudança para exibir os slots lado a lado */
    gap: 20px; /* Adicione espaço entre os slots */
    bottom: 2%;
}

.character-slot {
    width: 200px; /* Ajuste para a largura desejada */
    height: 200px; /* Ajuste para a altura desejada */
    text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img {
    width: 45px;
    height: 45px;
}