/* faly https://discord.gg/B4ZQmjPnW3 */

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}


#logo
{
    margin-left: 750px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    text-align: center;
    color: #000000;
    position: absolute;
    line-height: 0.4em;
    font-weight: bold;
}


.loadbar
{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 30px;
    margin-left: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: absolute;
    border-radius: 25px;
}

.maintext{
    color: #000000;
    position: absolute;
    text-align: center;
    top: 90%;
    width: 100%;
    line-height: 0.4em;
    font-weight: bold;
    animation: rgbflash 5s linear infinite alternate;
}


h1{
    font-size: 50px;
}

.help{
    position: absolute;
    right: 1px;
    border:2px;
    border-style: solid ; 
    border-width:7px;
    border-color: rgb(0, 0, 0);
    text-align: right;
    direction: rtl ; 
    background: rgb(82, 82, 82); 
    padding-top: 0px; 
    width: 350px; 
    height:400px ; 
    opacity: 0.85;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 30;
    color:white ;
    font-weight: bold;
    -webkit-text-stroke-color:black ;
    -webkit-text-stroke-width: 3px;
    
}


.apollofooter{
  font-size: 10px;
  font-weight: bold;
  padding: 16px 32px;
  position: absolute;
  left: 8.00%;
  top:94%;
  color: white;
  transform: translate(-50%,-50%);
  font-family: 'Raleway', sans-serif;
}

@keyframes rgbflash {
0%{color: #000000;}
12.5%{color: rgb(94, 94, 94);}
25%{color: #000000;}
37.5%{color: rgbrgb(94, 94, 94);}
50%{color: #000000;}
62.5%{color: rgb(94, 94, 94);}
75%{color: #000000;;}
87.5%{color: rgb(94, 94, 94)}
100%{color: #000000;}
}

#particles-js{
    background-image: url('image1.jpg');
}