::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: rgba(26, 27, 30, 0.8); border-radius: 4px; }
::-webkit-scrollbar-thumb { background: rgb(63, 69, 92); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: rgb(63, 69, 92); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; }

body { 
    margin: 0px; 
    padding: 0px;
    color: rgb(255, 255, 255); 
    font-family: Roboto, Arial, Helvetica, sans-serif; 
}

* { overflow: hidden; user-select: none; 
    box-sizing: border-box; 
}
    
.inventory { 
    width: 100vw; 
    height: 100vh;
    display: none; 
    position: fixed; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center;
    background: rgba(0, 0, 0, 0.55);
}

.innerInventory{ 
    display: flex; 
    flex-direction: column;
}

.sections { 
    height: 589px; 
    display: flex; 
}


#invleft, #invright { 
    gap: 3px; 
    display: grid; 
    overflow-y: scroll; 
    padding-right: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.item { 
	width: 105px;
	height: 145px;
	display: flex;
	border-radius: 4px;
	flex-direction: column;
	text-shadow: 1px 1px #000;
	background: rgba(26,27,30,0.50);
}

.populated {
	background: rgba(25,28,35,0.75);
	background-size: 90% !important;
}

.populated:hover, .hoverControl {
	background: #30354a;
}

.top { 
	display: flex;
	color: #8c8c8c;
	font-size: .70rem;
	justify-content: space-between;
}

.itemAmount {
	margin: 15px 15px 0 0;
}

.itemWeight {
	margin: 15px 0 0 15px;
}

.item .nameItem { 
	margin-top: auto;
	align-self: center;

	width: 100%;
	color: #d0d0d0;

	padding: 8px 10px;
	font-size: .68rem;
	text-align: center;
	white-space: nowrap;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	text-transform: uppercase;

	background: rgba(71,79,106,0.5);
}

.invMiddle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
	text-align: center;
}

input::placeholder {
	color: #afb8d2;
}

.invMiddle div, .invMiddle input {
	border: 0;
	width: 70%;
	outline: none;
	color: #afb8d2;
	padding: 16px 0;
	font-size: 12px;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 12px;
	letter-spacing: 1px;
	background: rgba(64,71,92,0.75);
}

#weight { 
	max-width: 1230px; 
}
#weightTextLeft { 
	float: left; color: rgb(156, 156, 156); 
	font-size: 12px; min-width: 540px; 
	max-width: 540px; text-align: right; 
	margin-right: 10px; 
	border-radius: 4px; 
	margin-bottom: 15px; 
	letter-spacing: 1px; 
}
#weightBarLeft { 
	float: left; 
	min-height: 8px;
	max-height: 8px;
	min-width: 536px;
	max-width: 536px;
	margin-bottom: 5px; 
	border-radius: 4px; 
	background: rgb(63, 69, 92); 
}
#weightTextRight { 
	float: right; 
	color: rgb(156, 156, 156); 
	font-size: 12px; 
	min-width: 530px; 
	max-width: 530px; 
	text-align: left; 
	margin-left: 15px; 
	border-radius: 4px; 
	margin-bottom: 15px; 
	letter-spacing: 1px; 
}
#weightBarRight { 
	float: right;
	min-height: 8px;
	max-height: 8px; 
	min-width: 536px;
	max-width: 536px;
	border-radius: 4px; 
	margin-bottom: 5px; 
	background: rgb(63, 69, 92); 
}
#weightContent { 
	float: left; 
	min-height: 8px;
	max-height: 8px; 
	max-width: 536px;
	border-radius: 4px; 
	background: rgb(115, 126, 160); 
	transition: all 0.9s ease 0s; 
}
.ui-helper-hidden-accessible { 
    display: none; 
}

.ui-tooltip { 
    z-index: 9999; 
    color: rgb(214, 217, 223); 
    font-size: 11px; 
    border-radius: 4px; 
    position: absolute;
    background: rgb(33, 36, 48); 
    letter-spacing: 1px; padding: 20px 20px 15px; 
    }

.ui-tooltip:hover { 
    display: none; 
}

.ui-tooltip item { 
    float: left; 
    font-size: 14px;
    min-width: 200px; 
    letter-spacing: 2px; 
}

.ui-tooltip legenda { 
    float: left; 
    min-width: 200px; 
    margin-top: 10px; 
    padding-top: 6px; 
    line-height: 20px; 
    letter-spacing: 2px; 
    border-top: 1px solid rgb(64, 71, 92); 
}

.ui-tooltip description { 
    float: left; 
    color: rgb(98, 105, 119); 
    font-size: 10px; 
    max-width: 200px; 
    margin-top: 10px; 

}
.ui-tooltip s {
    color: rgb(73, 79, 90); 
    padding: 0px 5px; 
    text-decoration: none; 
}

.ui-tooltip r { 
    color: rgb(98, 105, 119); 
}

